<ion-header [translucent]="true">
    <ion-toolbar class="h-60 pd-10">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<div class="main">
    <h2>PROFILE</h2>
    <div class="card col-12">
        <div class="card-body">
            <i class="fa fa-pen fa-xs edit"></i>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td>Jhon snow</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>jon@testing.com</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>:</td>
                        <td>Westros</td>
                    </tr>
                    <tr>
                        <td>Hobbies</td>
                        <td>:</td>
                        <td>skill training</td>
                    </tr>
                    <tr>
                        <td>Job</td>
                        <td>:</td>
                        <td>Night watch</td>
                    </tr>
                    <tr>
                        <td>Skill</td>
                        <td>:</td>
                        <td>Fence, boxing</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h2>Bio</h2>
    <div class="card col-12">
        <div class="card-body">
            Jon Snow, born Aegon Targaryen, is the son of Lyanna Stark and Rhaegar Targaryen, the late Prince of
            Dragonstone. After successfully capturing a wight and presenting it to the Lannisters as proof that the Army
            of the Dead are real, Jon pledges himself and his army to Daenerys Targaryen
        </div>
    </div>
</div>